{% extends 'store/base.html' %}

{% block content %}
					<div id="flex">
						<div class="mainWrap">
							<div class="wrap">
								<h2>{{ category.name }}</h2>
							</div>
						</div>
					</div>

					<style type="text/css">
						.footer {
							margin-top: 20px;
						}
					</style>

					<div class="contentBlockWrap">
						<div id="contentBlockCategories">
							{% for work in works %}
							<a href="{% url 'work_detail' pk=work.pk %}">
								<div id="contentBlock" style="background-image: url({{ work.preview.url }});"> 
									<div>
										<p>{{ work.name }}</p></p>
									</div>
								</div>
							</a>	
							{% endfor %}
						</div>
					</div>	
{% endblock %}					