{% extends 'store/base.html' %}

{% block content %}
			<div class="menu">
				<ul>
					<li><a href="/" style="">Главная</a></li>
					<li style="border-bottom: 3px solid #4400ff;"><a href="/categories">Каталог</a></li>
					<li><a href="">Контакты</a></li>
					<li><a href="">О нас</a></li>
				</ul>
			</div>

			<div class="search">
				<i class="fa fa-search"></i>
			</div>
		</div>
	</div>

	<div class="wrap">

		<div class="content">
				<div class="wrap">
					<div id="flex">
						<div class="mainWrap">
							<div class="wrap">
								<h2>{{ category.name }}</h2>
							</div>
						</div>
					</div>

					<style type="text/css">
						.footer {
							margin-top: 20px;
						}
					</style>

					<div class="contentBlockWrap">
						<div id="contentBlockCategories">
							{% for work in works %}
							<a href="{% url 'work_detail' pk=work.pk %}">
								<div id="contentBlock" style="background-image: url({{ work.preview.url }});"> 
									<div>
										<p>{{ work.name }}</p></p>
									</div>
								</div>
							</a>	
							{% endfor %}
						</div>
					</div>	
{% endblock %}					