{% extends 'store/base.html' %}

{% block content %}

		<style type="text/css">.menu-catalog { border-bottom: 3px solid #4400ff; } .contentBlockWrap { margin-top: 20px; }</style>			
					<div class="contentBlockWrap">
						<div id="contentBlockCategories">
							{% for category in category_list %}
							<a href="{% url 'catalogOfWorksInCategory' pk=category.pk %}">
								<div id="contentBlock" style="background-image: url({{ category.preview.url }});"> 
									<div>
										<p>{{ category.name }}</p></p>
									</div>
								</div>
							</a>	
							{% endfor %}
						</div>
					</div>	


{% endblock %}