{% extends 'store/base.html' %}

{% block content %}

		<style type="text/css">
			.menu-catalog { border-bottom: 3px solid #0006ad; } 
			.contentBlockWrap { margin-top: 20px; }
			.footer {margin-top: 20px;}
		</style>			
		
		<div class="contentBlockWrap">
			<div id="contentBlockCategories">
				{% for category in categories reversed %}
				<a href="{% url 'catalog_of_works_in_category' pk=category.pk %}">
					<div id="contentBlock" style="background-image: url({{ category.preview.url }});"> 
						<div>
							<p>{{ category.name }}</p></p>
						</div>
					</div>
				</a>	
				{% endfor %}
			</div>
		</div>	


{% endblock %}