{% extends 'store/base.html' %}

{% block content %}	
<style type="text/css">.menu-main { border-bottom: 3px solid #0006ad; }</style>

<div class="slider">
	<div class="slider__wrapper">
	
	{% for work in works reversed %}
		<a href="{% url 'work_detail' pk=work.pk %}" class="slider__item">
	    	<div class="contentBlock" style="background-image: url({{ work.work.preview.url }}); ">
	    		<div class="contentBlockWrap">
		    		<div class="contentBlockText">
				    	<p>{{ work.work.name }}</p> 
				    	<p>{{ work.work.price }} ₽</p>
		    		</div>
		    	</div>	
	    	</div>    
		</a>	

	{% endfor %}
	
	</div>		
	
	<a class="slider__control slider__control_left" href="#" role="button"></a>
	<a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
</div>

<div class="contentBlockWrap">
	<div id="contentBlockCategories">
		{% for category in categories reversed %}
		<a href="{% url 'catalogOfWorksInCategory' pk=category.pk %}">
			<div id="contentBlock" style="background-image: url({{ category.preview.url }});"> 
				<div>
					<p>{{ category.name }}</p></p>
				</div>
			</div>
		</a>	
		{% endfor %}
	</div>
</div>	

<div style="margin-top: 20px">
	<div style="width: 100%;position: relative;">
		<iframe class="map" src="https://maps.google.com/maps?width=800&amp;height=600&amp;hl=en&amp;q=%D0%A7%D0%B5%D0%BB%D0%BD%D1%8B+(%D1%87%D0%B5%D0%BB%D0%BD%D1%8B)&amp;ie=UTF8&amp;t=k&amp;z=15&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		
		<div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
			<small style="line-height: 1.8;font-size: 2px;background: #fff;">
				Powered by <a href="http://www.googlemapsgenerator.com/ja/">googlemapsgen (ja)</a> & <a href="http://eurodisneyaanbiedingen.nl/">eurodisneyaanbiedingennl</a>
			</small>
		</div>

		<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
	</div>
</div>	
{% endblock %}	