{% extends 'store/base.html' %}

{% block content %}	
{% load static from staticfiles %}
<style type="text/css">.menu-main { border-bottom: 3px solid #0006ad; }</style>

<div id="mainPagePreview" style="background-image: url({{ preview.preview.url }}); box-shadow: 0 5px 10px rgb(0,0,0,.3); z-index: 1"> 
	<div style="height: inherit; max-height: 1200px; background: rgb(0,0,0,.4); width: inherit; padding: 0px;" id="flex">
		<div style="max-width: 800px; max-height: 1200px; display: -webkit-flex; padding: 0 20px; flex-direction: column; justify-content: space-between; align-items: center; 	align-content: space-between; height: inherit; padding: 20px">
			<div></div>
			<div>
				<h3 style="margin: 0">{{ preview.name }}</h3>
				<p style="color: #e6e6e6">{{ preview.description }}</p>
			</div>
			<div class="catalogBtn">каталог 
				<i style="margin: 0 0 0 20px" class="fa fa-sort-desc"></i>
			</div>
		</div>	
	</div>
</div>

<script type="text/javascript">
	$(".catalogBtn").click(function(){

	})
</script>

<script type="text/javascript">

	function scrollMenu() {
		if (window.pageYOffset < 170) {
			$(".menu-main").css("border-bottom", "3px solid white")
			$(".menuR").css("color", "white")
			$(".fa-search").css("color", "white")
			$(".blackClose").css("color", "white")

			$(".header").css("background", "none")
			$(".menuBtn").css("background", "none")

			$(".header").css("box-shadow", "none")
			$(".menuBtn").css("box-shadow", "none")

			$(".header").css("color", "white")
			$(".menuBtn").css("color", "white")

		} else {

			if (window.innerWidth > 650) {
				$(".header").css("box-shadow", "0 5px 10px rgb(0,0,0,0.3)")
				$(".menuBtn").css("box-shadow", "none")
			}	else {
				$(".menuBtn").css("box-shadow", "0 5px 10px rgb(0,0,0,0.3)")
				$(".header").css("box-shadow", "none")
			}

			$(".menu-main").css("border-bottom", "3px solid #0006ad")
			$(".blackClose").css("color", "black")
			$(".fa-search").css("color", "black")
			$(".menuR").css("color", "black")
			$(".faSearch").css("color", "white")

			$(".header").css("background", "white")
			$(".menuBtn").css("background", "white")

			$(".header").css("color", "black")
			$(".menuBtn").css("color", "black")
		}
	}

	scrollMenu()

	window.addEventListener('scroll', function() {
  		scrollMenu()
	});

</script>

<style type="text/css">
	.content {
		margin: 0;
	}
</style>
<div id="flex">
	<div class="slider" style="margin: 0px 0 0 0">
		<div class="slider__wrapper">
		
		{% for work in works %}
			<a href="{% url 'work_detail' pk=work.pk %}" class="slider__item">
		    	<div class="contentBlock" id="contentBlockTextMainPage" style="background-image: url({{ work.preview.url }});  padding: 0 20px">
		    		<div class="contentBlockWrap" id="styleAndCategoryWrap">
		    			<div style="color: rgb(0,0,0,.0);">text</div>
						<div style="display: flex;">
							<div>
								<div style="background-image: url({{ work.category.preview.url }})" class="styleAndCategoryImage"></div>
							</div>
							<div style="width: 20px"></div>
							<div>
								<div style="background-image: url({{ work.style.preview.url }}); margin-top: " class="styleAndCategoryImage"></div>
							</div>
						</div>
		    		</div>
					
					<div style="width: 100%; display: flex;justify-content: center;align-items: center;">
						<div style="width: 100%;" id="flex" class="safDelete">
				    		<div class="contentBlockWrap" id="contentBlockWrapText">  
								    <h4 style="height: 100%; display: flex; align-items: center;" class="nameOfFurniturePreview">{{ work.name }}</h4> 
								    <p style="font-family: 'Roboto';" class="price">{{ work.price }} ₽</p>
					    	</div>
					    </div>		
					</div>    
		    	</div>    
			</a>	


		{% endfor %}
		
		</div>		
	
	<a class="slider__control slider__control_left" href="#" role="button"></a>
	<a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
</div>
</div>

<div class="contentBlockWrap">
	<div id="contentBlockCategories">
		
		<h4 style="color: black; margin-top: 20px; display: flex; justify-content: center;">Категории:</h4>

		{% for category in categories reversed %}
		<a href="{% url 'catalog_of_works_in_category' pk=category.pk %}">
			<div id="contentBlock" style="background-image: url({{ category.preview.url }});"> 
				<div>
					<p>{{ category.name }}</p></p>
				</div>
			</div>
		</a>	
		{% endfor %}
		
		<h4 style="color: black; margin-top: 20px; display: flex; justify-content: center;">Стили:</h4>

		<div class="styles">
			{% for style in styles %}
				<a href="{% url 'catalog_of_works_in_style' pk=style.pk %}" style="color: white"  class="styleContainer">
					<div class="styleBlock" style="background-image: url({{ style.preview.url }}); ">
						<p>{{ style.name }}</p>
					</div>
				</a>
			
			{% endfor %}
		</div>	
	</div>
</div>	

<div id="flex">
	<div class="mainWrap">
		<div style="width: 100%;">

			<div class="request1" style="border-radius: 15px">
				<h3 style="display: flex; justify-content: space-between;"><span>Оставьте заявку</span><i class="fa fa-send da-lg"></i></h3>
				
				<form action="{% url 'request' %}" method="post" class="js-feedback_form">
						<div>
						{% csrf_token %}
							<!-- <p>Имя:</p> -->

							<input required placeholder="Имя" name="q_name" class="searchFieldInput">
						</div>
						<div>
							<!-- <p>телефон:</p> -->

							<input required placeholder="телефон" id="phone" type="tel" pattern="\8\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}" name="q_phone" class="searchFieldInput">
						</div>
						<div>
							<!-- <p>email:</p> -->

							<input required placeholder="email" name="q_email" class="searchFieldInput" type="email">
						</div>

						<div style="margin: 20px 0 0 0; display: flex; justify-content: center;"><div></div><button class="submitButton" type="submit">отправить<i style="margin-left: 10px;" class="fa fa-angle-double-right fa-lg"></i>
							</button></div>
					</form>
			</div>
		</div>	
	</div>
</div>	

<div style="margin-top: 20px">
	<div style="width: 100%;position: relative;">
		<iframe class="map" src="https://maps.google.com/maps?width=700&amp;height=440&amp;hl=en&amp;q=%D0%BD%D0%B0%D0%B1%D0%B5%D1%80%D0%B5%D0%B6%D0%BD%D1%8B%D0%B5%20%D1%87%D0%B5%D0%BB%D0%BD%D1%8B+(%D0%9D%D0%B0%D0%B7%D0%B2%D0%B0%D0%BD%D0%B8%D0%B5)&amp;ie=UTF8&amp;t=&amp;z=10&amp;iwloc=B&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
		
		<div style="position: absolute;width: 80%;bottom: 10px;left: 0;right: 0;margin-left: auto;margin-right: auto;color: #000;text-align: center;">
			<small style="line-height: 1.8;font-size: 2px;background: #fff;">
				Powered by <a href="http://www.googlemapsgenerator.com/ja/">googlemapsgen (ja)</a> & <a href="http://eurodisneyaanbiedingen.nl/">eurodisneyaanbiedingennl</a>
			</small>
			<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
		</div>

		<style>#gmap_canvas img{max-width:none!important;background:none!important}</style>
	</div>
</div>	
{% endblock %}	