{% extends 'store/base.html' %}

{% block content %}	
{% load static from staticfiles %}
<style type="text/css">.menu-request { border-bottom: 3px solid #0006ad; }</style>
	<div id="flex" style="margin: 0px 0 0 0">
		<div class="mainWrap">
			<div style="width: 100%;">

			<div class="request1" style="border-radius: 10px">
				<h3 style="display: flex; justify-content: space-between;"><span class="emailRequestJs">{{ request.name }}</span><i class="fa fa-send da-lg"></i></h3>

				<p>тел. <span style="font-weight: bold;">{{ request.phone }}</span></p>
				<p>email: <span style="font-weight: bold;" class="emailRequestJs">{{ request.email }}</span></p>
			</div>
			
			<p style="display: flex;justify-content: space-between;align-items: center; margin: 15px 0 0 0">
				<span>{{ request.created_date }}</span>
				<i style="background:red; border-radius: 10px;color: white; padding: 8.5px 10px;" id="deleteRequestBtn" class="fa fa-trash-o"></i>
			</p>


			<div style="margin: 10px 0 0 0;">
				<a href="/request list" style="text-decoration: underline; color: #686868">Вернуться к списку заявок</a>
			</div>
		</div>	
		</div>
	</div>	
	
	<div class="areYouShureToDelete">
			<div class="mainWrap" id="flex">
				<div class="formAreYouShure">
					<div style="display: flex;justify-content: space-between; font-weight: lighter; color: #575757"><span>Удалить эту заявку?</span><i class="fa fa-trash-o"></i></div>
					<form  method="post" style="display: flex;justify-content: space-around; margin: 0px 0 0 0">
						<div class="yesBtn">Да</div>
						<div style="width: 30px"></div>
						<div class="noBtn">Нет</div>
					</form>
				</div>
			</div>		
	</div>

<script type="text/javascript">
	function reverseStr(str) {
    	return str.split("").reverse().join("");
	}


	function id_numbers() {
		var href = window.location.href
		
		href = href.substr(0,href.length - 1)

		var answ = ''
		
		for (var i = href.length - 1; i > 0; i--) {
			if (href[i] == "/") {
				return reverseStr(answ)
			} else {
				answ += href[i]
			}
		}
	}

	$( ".yesBtn" ).click(function(){
	    window.location.replace('/request list')

		$.ajax({
	        url: "{% url 'delete_request' %}",
	        type: "POST",
	        data: {
	            'csrfmiddlewaretoken': '{{ csrf_token }}',
	            'id': id_numbers()
	        }

	    });
	    
	})	
</script>

{% endblock %}