{% extends 'store/base.html' %}

{% block content %}	
{% load static from staticfiles %}
	<style type="text/css">.menu-request { border-bottom: 3px solid #0006ad; }</style>
	<div id="flex" style="margin: 10px 0 0 0">
	<div class="mainWrap">
			<div style="width: 100%;" class="requestWrap">
			<div class="requestItem" style="background: none; box-shadow: none; padding: 0 0;">
				<h3>Заявки:</h3>
			</div>
			{% for request in requests reversed %}	
				{% if not request.is_viewed %}
					<a href="{% url 'request_detail' pk=request.pk %}" class="requestItem">
						<div style="width: 100px; font-weight: bold;"><p class="emailRequestJs">{{ request.name }}</p></div>
						<div style="color: #4a4a4a"><p>{{ request.created_date }}</p></div>
					</a>
				{% else %}
					<a href="{% url 'request_detail' pk=request.pk %}" class="requestItem" style="background: white">
						<div style="width: 100px; font-weight: bold;" class="emailRequestJs"><p>{{ request.name }}</p></div>
						<div style="color: #4a4a4a"><p>{{ request.created_date }}</p></div>
					</a>
				{% endif %}	
			{% endfor %}
		</div>
		</div>
	</div>	

	<style type="text/css">
		.footer {
			margin: 20px 0 0 0;
		}
	</style>
{% endblock %}	