{% extends 'store/base.html' %}

{% block content %}

			<div class="menu">
				<ul>
					<li><a href="/" style="">Главная</a></li>
					<li style="border-bottom: 3px solid #4400ff;"><a href="/categories">Каталог</a></li>
					<li><a href="">Контакты</a></li>
					<li><a href="">О нас</a></li>
				</ul>
			</div>

			<div class="search">
				<i class="fa fa-search"></i>
			</div>
		</div>
	</div>

	<div class="wrap">

		<style type="text/css">
						.footer {
							margin-top: 20px;
						}
					</style>

		<div class="content">
				<div class="wrap">

					<img class="detailImg" src="{{ work.preview.url }}">
					
					<div id="flex">
						<div class="mainWrap">
							<div class="wrap">
								<div class="description">
									<div>
										{{ work.description|safe }}
									</div>	
								</div>
							</div>
						</div>	
					</div>		

{% endblock %}