@font-face {
	font-family: 'Google Sans';
	src: url(/static/fonts/ProductSans-Regular.ttf);
}

/@font-face {
	font-family: 'googleSansBold';
	src: url('static/fonts/ProductSans-Bold.ttf');
}

* {
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Google Sans';
}

body {
	z-index: 0;
	display: flex;
	justify-content: center;
}

#flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainWrap {
	padding: 0 20px 0 20px;
	width: 800px;
	display: flex;
	justify-content: space-between;
}

.wrap {
	width: 100%;
	justify-content: space-between; 
	flex-direction: column;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header {
	display: flex;
	align-items: center;
	z-index: 10;
	height: 50px;
	width: 100%;
	position: fixed;
	font-weight: bold;
	background: rgb(255,255,255);
	box-shadow: 0 6px 10px rgb(0,0,0,.3)
}

.logo, .search {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

.menu {
	display: flex;
	justify-content: center;
}

#headerWrap li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	color: black;
}

#headerWrap li a {
	text-decoration: none;
	color: black;
}

#headerWrap li a:hover {
	color: #0006ad;
}


.content {
	margin-top: 30px; 
	width: 100%;
	display: flex;
	justify-content: center;
}

.contentBlock {
	box-shadow: inset 0 -80px 60px rgba(0,0,0,0.6);
	width: 100%;
	height: 540px;
	background-clip: border-box;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
	color: white;
}

#contentBlock {
	box-shadow: inset 0 -80px 60px rgba(0,0,0,0.6);
	width: 100%;
	height: 300px;
	margin-top: 20px;
	padding: 255px 20px 20px;
	background-clip: border-box;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
	color: white;
	border-radius: 15px; 
}

.contentBlock img {
	width: 100%;
	height: auto;
}

.contentBlockText {
	width: 800px;
	font-size: 25px;
	color: white;
	margin-top: 375px;
	z-index: 2;
	padding: 0 20px 0 20px;
	display: flex;
	justify-content: space-between;
}

#contentBlockCategories { 
	width: 800px;
	font-size: 25px;
	color: white;
	z-index: 2;
	padding: 0 20px 0 20px;	
}

.styleOflink {
}

.contentBlockText p, #contentBlockCategories p {
	font-family: 'Roboto';
} 

.bottomInfo {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	margin-top: 450px;
}

.contentBlockWrap {
	display: flex;
	justify-content: center;
}

.nameOfFurniture {

}

.photoPosition {
	display: flex;
}

.circle {
	margin: 5px;
	width: 12px;
	height: 12px;
	border: 2px solid white;
	border-radius: 50%;
	margin-top: 12px;
}

#circleMain {
	background: white;
}

.catalog {
	width: 800px;
}

.furnitureInfo {
	background-clip: border-box;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	height: 300px;
	width: 100%;
	margin: 25px 0 0 0;
	border-radius: 15px;
	padding: 20px;
	box-shadow: inset 0 -35px 40px rgb(0,0,0,.5);
}

.furnitureInfo h3 {
	color: white;
	margin-top: 240px;
}

.map {
	width: 100%;
	height: 400px;
}

.footer {
	display: flex;
	justify-content: center;
	padding: 20px 0 10px;
	width: 100%;
	background: #353535;
	color: white;
	font-size: 12px;
}

.footerMenu {
	display: flex;
	margin-top: 10px;
}

.footerMenu li {
	padding-right: 10px;
}

.footerMenu li a {
	text-decoration: none;
	color: #adadad;
}

.rightFooter p {
	padding: 0 0 10px 0;
	float: right;
}