* {
	text-decoration: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto';
}

body {
	z-index: 2;
	display: flex;
	justify-content: center;
	background: #f8f8f8;
}

#flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.mainWrap {
	padding: 0 20px;
	width: 800px;
	display: flex;
	justify-content: space-between;
}

.wrap {
	width: 100%;
	justify-content: space-between; 
	flex-direction: column;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.header {
	display: flex;
	align-items: center;
	z-index: 10;
	height: 50px;
	width: 100%;
	position: fixed;
	font-weight: bold;
	background: rgb(255,255,255);
}

.logo, .search {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
}

#headerWrap li a {
	text-decoration: none;
	color: black;
}

#headerWrap li a:hover {
	color: #0006ad;
}

.menu-main, .menu-catalog, .menu-contacts, .menu-about_us, .menu-request {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	align-items: center;
	color: black;
	height: 50px;
}

.hrefInWorkDetail {
	color: black;
}

#contentBlockTextMainPage {
	display: -webkit-box; /* Safari */
	padding: 0 20px 0 20px;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#contentBlockWrapText {
	/*background: rgba(0,0,0,.2);
    backdrop-filter: blur(3px); 0
	border-radius: 15px 15px 0 0;*/
	padding: 0 0 20px 0; 
	justify-content: space-between;
	display: flex;
	width: 760px;
	height: auto;
	font-size: 10px;
}

.price {
/*	padding: 10px 15px 10px 15px;
	background: white;
	font-family: 'Roboto';
	color: black;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgb(0,0,0,0.3);*/
}

.contentBlockWrap {
	padding: 0 20px 0 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#styleAndCategoryWrap {
	background-clip: border-box;
	background-size: 50px;
    background-repeat: no-repeat;
    background-position: center; 
	justify-content: space-between;
	display: flex;
	width: 800px;
}

#mainPagePreview {
	color: white;
	font-weight: bold;
		background-clip: border-box;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
	max-height: 1200px;
	box-shadow: inset 0 40px 60px rgb(0,0,0,.4);
}

#mainPagePreview h3 {
	font-size: 32px;
}

#mainPagePreview p {
	margin: 15px 0 0 0;
	font-size: 19px;
	font-weight: lighter;
}

.content {
	margin-top: 50px; 
	width: 100%;
	display: flex;
	justify-content: center;
}

.contentBlock {
	box-shadow: inset 0 -80px 60px rgba(0,0,0,0.6);
	width: 100%;
	height: 540px;
	background-clip: border-box;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;  
	color: white;
}

#contentBlock {
	box-shadow: inset 0 -80px 60px rgba(0,0,0,0.6);
	width: 100%;
	height: 350px;
	margin-top: 20px;
	padding: 305px 20px 20px;
	background-clip: border-box;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
	color: white;
	border-radius: 15px; 
}

.contentBlock img {
	width: 100%;
	height: auto;
}

.contentBlockText {
	width: 800px;
	font-size: 25px;
	color: white;
	margin-top: 375px;
	z-index: 2;
	padding: 0 20px 0 20px;
	display: flex;
	justify-content: space-between;
}

#contentBlockCategories { 
	width: 800px;
	font-size: 25px;
	color: white;
	z-index: 2;
	padding: 0 20px 0 20px;	
}

.contentBlockText p, #contentBlockCategories p {
	/*font-family: 'Roboto';*/
}

.styles {
	flex-wrap: wrap;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

.styleContainer {
	width: 48.65%;
	margin:  20px 0 0 0;
}

.styleBlock {
	padding: 160px 20px 0px 20px;
	width: 100%;
	border-radius: 15px; 
	z-index: 2;
	height: 200px;
    position: relative;
    box-shadow: inset 0 -20px 40px rgb(0,0,0,.6);
    background-clip: border-box;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
} 

.styleAndCategoryImage {
	width: 80px; height: 80px; border-radius: 10px; border: 4px solid white; margin-top: 20px; background-size: 150px; 
	background-clip: border-box;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center; 
}

.bottomInfo {
	width: 100%;
	height: 50px;
	display: flex;
	justify-content: center;
	margin-top: 450px;
}

.nameOfFurniture {

}

.photoPosition {
	display: flex;
}

.circle {
	margin: 5px;
	width: 12px;
	height: 12px;
	border: 2px solid white;
	border-radius: 50%;
	margin-top: 12px;
}

#circleMain {
	background: white;
}

.catalog {
	width: 800px;
}

.furnitureInfo {
	background-clip: border-box;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
	height: 300px;
	width: 100%;
	margin: 25px 0 0 0;
	border-radius: 15px;
	padding: 20px;
	box-shadow: inset 0 -35px 40px rgb(0,0,0,.5);
}

.furnitureInfo h3 {
	color: white;
	margin-top: 240px;
}

.map {
	width: 100%;
	height: 400px;
}

.footer {
	display: flex;
	justify-content: center;
	padding: 20px 0 20px 0;
	width: 100%;
	background: #353535;
	color: white;
	font-size: 12px;
}

.footerMenu {
	display: flex;
	margin-top: 7px;
}

.footerMenu li {
	padding-right: 10px;
}

.footerMenu li a {
	text-decoration: none;
	color: #adadad;
}

.rightFooter p {
	float: right;
	padding: 0 0 10px 0;
}	

.menuBtn {
	display: flex;
	align-items: center;
	z-index: -1;
	height: 50px;
	width: 100%;
	position: fixed;
	font-weight: bold;
	background: rgb(255,255,255);
}

.catalogBtn {
	border: 3px solid white; 
	padding: 10px; 
	margin: 20px 0 0 0; 
	border-radius: 15px;  
	display: flex; justify-content: 
	center; width: 100%
}

.catalogBtn:hover {
	background: rgb(0,0,0,.4);
	transition: .3s;
}

.sadEmoj {
	width: 170px;
}

.nativeSearch {
	transition: .8s;
	justify-content: center;
	align-items: center;
	z-index: 9;
	position: fixed;
	width: 100%;
	background: rgb(0,0,0,.5);
	font-weight: bold;
	height: 100vh;
	backdrop-filter: blur(3px);
	z-index: 9;
}
.hrefInWorkDetailA p {
	color: black;	
	margin: 10px 0 0 0;
	display: flex;
	width:80px;
	justify-content: center;
}

.request1 {
	margin-top: 20px;
	padding: 0 20px 20px 20px;
	border-radius: 10px;
	border: 3px solid #353535;
}

.request1 p, .request1 form input {
	margin-top: 20px; 
}

.nativeMenu {
	transition: .4s;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: center;
	align-items: center;
	z-index: 9;
	position: fixed;
	width: 100%;
	background: rgb(0,0,0,.5);
	font-weight: bold;
	height: 100vh;
	backdrop-filter: blur(3px);
}

#menu2 div {
	font-size: 20px;
	width: 100%;
	/*margin: 20px 0 0 0;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;	
	padding: 20px;
	/*border: 3px solid white;
	border-radius: 15px;*/
	/*background: rgb(0,0,0,.8);*/
}

.requestWrap {
	border-radius: 10px;
}

.requestItem {
	background: #9efb7f;
	margin: 10px 0 0 0;
	border-radius: 5px;
	/*border: 2px solid black;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding: 10px 15px;
	/*border-top: 2px solid #353535;*/
	align-items: center;
	box-shadow: 0 1px 3px rgb(0,0,0,.05);
	color: black;
}

.requestItem h3 {
	margin: 0;
}

.requestItem div {
	font-size: 12px;
}

.areYouShureToDelete {
	font-size: 20px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: center;
	align-items: center;
	z-index: 9;
	position: fixed;
	width: 100%;
	background: rgb(0,0,0,.5);
	font-weight: bold;
	height: 100vh;
	backdrop-filter: blur(3px);
}

.formAreYouShure {
	max-width: 400px;
	margin: 0 0 60px 0;
	width: 100%;
	border-radius: 14px; 
	padding: 14px;
	background: white;
	box-shadow: 0 5px 10px rgb(0,0,0,.3);
}

.yesBtn, .noBtn {
	color: white;
	width: 100%;
	background: black;
	padding: 5px 10px;
	border-radius: 7px;
	margin: 20px 0 0 0;
	font-size: 17px;
	transition: .2s;
	cursor: pointer;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
}

@media(max-width: 1080px) {
	
	#contentBlockWrapText h4, .price {
		font-size: 17px;
	}
}


@media(max-width: 800px) {
	#contentBlockTextMainPage {
		padding: 0;
	}

	.styleBlock {
		height: 160px;
		padding: 120px 20px 0 20px;
	}

	.hrefInWorkDetail {
		margin: 20px 0 0 0;
		padding: 10px; 
		background: #353535;
		border-radius: 10px;
		justify-content: space-around;
	}
	.styleAndCategoryImage, .styleAndCategoryImage {
		display: none;
	}

	#styleAndCategoryWrap {
		width: 100%;
	}
	
	.hrefInWorkDetailA p {
		display: flex;
		color: white;
		margin: 0;
	}

	.contentBlockWrap {
		padding: 0;
	}
}	

.header {
	box-shadow: 0 5px 10px rgb(0,0,0,.3);
}

.menuBtn {
	box-shadow: none;
}

@media(max-width: 650px) {
	.styleBlock {
		padding: 127px 10px 0 15px;
		font-size: 18px;
	}
	
	.header {
		box-shadow: none;		
	}	

	.menuBtn {
		box-shadow: 0 5px 10px rgb(0,0,0,.3);
	}

	#contentBlock {
		padding: 195px 20px 20px 20px;
		height: 240px;
	}
	
	.contentBlock {
		height: 300px;
	}

	#mainPagePreview h3 {
		font-size: 26px;
	}

	#mainPagePreview p {
		margin: 15px 0 0 0;
		font-size: 16px;
		font-weight: lighter;
	}
	
	.header {
		z-index: -100;
	}

	#menu2 {
		color: white;
	}
	
	.menu-main {
		border-bottom: 0px solid white;
	}

	.footerMenu {
		display: none;
	}
	.nothingInResultsH {
		font-size: 20px;
	}

	.sadEmoj {
		width: 100px;
	}
	.headerWrap {
		display: none;
	}

	.menuBtn {
		z-index: 10;
	}	

	#headerWrap {
		display: flex;
	}

	.styleContainer {
		width:  47.8%;
	}

	#menu2, .search {
		/*width: 0px;
		display: none;*/
	}
}	

@media(max-width: 350px) {
	.styleBlock {
		height: 140px;
		padding: 113px 10px 0 10px;
		font-size: 16px;
	}

	.Sdiv {
		display: none;
	}
}	
