.search:hover {
	color: #0006ad;
}

.search {
	border-bottom: 3px solid #0006ad;
}

.search-wrap {
	display: flex;
	align-items: center;
	z-index: 10;
	height: 50px;
	width: 100%;
	position: fixed;
	font-weight: bold;
	margin-top: 35px;
}

.uuu, .paragrah {
	color: #343434;
}

.searchFieldInput {
	font-weight: bold;
	width: 100%;
	border: none;
	box-shadow: 0 6px 10px rgb(0,0,0,.3);
	border-radius: 10px;
	padding: 10px 20px 10px 10px;
}

.searchField {
	display: flex;
	margin-top: 20px;
}

.submitButton {
	align-items: center;
	height: 35px;
	display: flex;
	justify-content: space-around;
	border: none;
	align-items: center;
	box-shadow: 0 6px 10px rgb(0,0,0,.3);
	border-radius: 10px;
	padding: 9px 13px 10px 13px;	
	color: white;
	background: #0006ad;
	cursor: pointer;
}

.submitButton i {
	margin: 1px 0 0 0;
}

.close {
	z-index: inherit;
	box-shadow: 0 10px 15px rgb(0,0,0,.4);
	margin-left: 10px;
	width: 35px;
	height: 35px;
	background: #0006ad;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
}

.close:hover {
	background: #cb0404;
	transition: .2s;
}