.search:hover {
	color: #4400ff;
}

.search-wrap {
	display: flex;
	align-items: center;
	z-index: 10;
	height: 50px;
	width: 100%;
	position: fixed;
	font-weight: bold;
	margin-top: 35px;
}

.search-flex-wrap {
	width: 800px;
	display: flex;
	justify-content: space-between;
	z-index: inherit;
}

.search-wrap input {
	width: 800;
	border: none;
	box-shadow: 0 6px 10px rgb(0,0,0,.3);
	border-radius: 10px;
	padding: 10px;
}

.close {
	z-index: inherit;
	box-shadow: 0 10px 15px rgb(0,0,0,.4);
	margin-left: 10px;
	width: 35px;
	height: 35px;
	background: #4400ff;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 7px;
}

.close:hover {
	background: #cb0404;
	transition: .2s;
}